
/*............................. CSS for manage profile ................................*/




.form-group{
    padding: 5px 5px;
    margin: 4px 0;
    border-radius: 10px;
    width: 100%;
    font-size: 17px;
}

.formm{
 
    font-size: 19px;
    background-color: rgb(0, 0, 51);
    color: white;
    padding: 5%;
    margin-left: 35%;
    position: relative;
   
 

 
  
}

/* Custom styles for image preview */
#preview {
    max-width: 600px;
    margin-top: 10px;
    border-radius: 50%;
}

/* Hide upload input initially */
#uploadInput {
    display: none;
}

/* ......................showimg ..................*/
/* CSS for round profile image */
#showimg-container {
    width: 400px; /* Set the width */
    height: 400px; /* Set the height */
    border-radius: 50%;
    overflow: hidden;
    float: left;

   
    

}
#showimg {
    width: 400px;
    height:400px;
    object-fit: cover;
    
}


