/*.......................... header........................... */
/* Logo styling */
.logo {
    max-width: 150px;
    /* Set the maximum width */
    max-height: 70px;
    /* Set the maximum height */
}

.nav-link {
    color: white;
    font-size: 18px;
    /* Adjust the font size as needed */
    margin-right: 25px;
    /* Adjust the value as needed */

}

.nav-link:hover {
    color: #2636e8;
}

.btn-custom {
    color: #080433;
    /* Set text color to white */
    font-size: 16px;
    /* Adjust font size as needed */
    font-weight: 600;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #DAF1F5;
}

.btn-custom:hover {
    background-color: #080433;
}
.border-bottom {
    margin-bottom: 0rem !important;
}

/* ................................CSS for footer............................ */
/* Footer Social Icons */
footer .nav a {
    color: #080433 !important;
    /* Icon color */
}

/* Footer Social Icons Hover */
footer .nav a:hover {
    color: #2636e8 !important;
    /* Hover icon color */
}

/* Footer Social Icons (Twitter, Instagram, Facebook) */
footer .nav .text-body-secondary {
    color: #FFFFFF !important;
    /* Text color */
    font-weight: 100;
}

.text-white .descrip {
    color: white;
    font-weight: 100;
}

.descrip {
    color: white;
    font-weight: 100;
}
/* CSS for displaying posts */
/* Card styling */
.card {
    border: none;
    background-color: #eef7fd; /* Light gray background */
    padding: 1.25rem;
    border-style: solid;
   
  
    height: 650px;

    /* Remove border */
}

/* Card title */
.card-title {
    font-weight: bold;
    color: #241784;
    font-size: 27px;
    text-align: center;
    
}

/* Card body */
.card-body {
    padding: 1.25rem;
}

/* Card text */
.card-text {
    margin-bottom: 0.75rem;
    color: #01032b;
    font-weight: bold;
    font-size: 18px;

}

/* Card image */
.card-img-top {
    height: 300px;
    object-fit: cover;
    border-style: solid;
    width: 60%;
    margin: 0 auto;
  
   
}
.location_img{
    width:30px;
    height:30px;

}

/* Card footer */
.card-footer {
    background-color: #3c8fe2;
    border-top: none;
}

/* Small text */
.small {
    font-size: 0.875rem;
}

/* Hide overflow content */
.overflow-hidden {
    overflow: hidden;
}

/* Center the card */
.center-card {
    margin: 0 auto;
}

/* Margin bottom */
.mb-4 {
    margin-bottom: 1.5rem !important;
}
/* CSS for displaying posts */
/* Card styling */
.post-card {
    border: none;
    /* Remove border */
}

/* Card title */
.post-card .card-title {
    font-weight: bold;
    color: #080433;
}

/* Card body */
.post-card .card-body {
    padding: 1.25rem;
}

/* Card text */
.post-card .card-text {
    margin-bottom: 0.75rem;
    color: #2636e8;
    font-weight: bold;
}

/* Card image */
.post-card .card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Card footer */
.post-card .card-footer {
    background-color: #3c8fe2;
    border-top: none;
}

/* Small text */
.post-card .small {
    font-size: 0.875rem;
}

/* Hide overflow content */
.post-card .overflow-hidden {
    overflow: hidden;
}

/* Center the card */
.post-card .center-card {
    margin: 0 auto;
}

/* Margin bottom */
.post-card .mb-4 {
    margin-bottom: 1.5rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
    margin-bottom: 50px;
}



  
  .card-red {
    background-color: rgb(255, 232, 232);
    color: white;
  }
  
  .card-blue {
    background-color: rgb(228, 228, 250);
    color: white;
  }
  
  .card-green {
    background-color: rgb(221, 250, 235);
    color: white;
   
  }
