

/*.......................... header........................... */
/* Logo styling */
.logo {
    max-width: 150px;
    /* Set the maximum width */
    max-height: 70px;
    /* Set the maximum height */
}

.nav-link {
    color: white;
    font-size: 18px;
    /* Adjust the font size as needed */
    margin-right: 25px;
    /* Adjust the value as needed */

}

.nav-link:hover {
    color: #2636e8;
}

.btn-custom {
    color: #080433;
    /* Set text color to white */
    font-size: 16px;
    /* Adjust font size as needed */
    font-weight: 600;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #DAF1F5;
}

.btn-custom:hover {
    background-color: #080433;
}
.border-bottom {
    margin-bottom: 0rem !important;
}




/* CSS for Carousel begin*/
/* Custom CSS */

#myCarousel {
    height: 400px;
    /* Adjust the height as needed */
}

.carousel-indicators button {
    width: 15px;
    /* Adjust the width of indicators as needed */
    height: 15px;
    /* Adjust the height of indicators as needed */
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 0rem;
    margin-left: 15%;
}

.carousel-inner .carousel-item {
    height: 400px;
    /* Adjust the height of carousel items as needed */
}

.carousel-inner .carousel-item svg {
    width: 100%;
    /* Make the placeholder image fill the item */
    height: 100%;
    /* Make the placeholder image fill the item */
}

.carousel-caption {
    top: 50%;
    /* Position the caption in the middle */
    transform: translateY(-50%);
    /* Adjust for vertical alignment */
}

.carousel-caption h1 {
    font-size: 2rem;
    /* Adjust the font size of headline */
}

.carousel-caption p {
    font-size: 1.2rem;
    /* Adjust the font size of text */
}

.carousel-caption .btn {
    font-size: 1.5rem;
    /* Adjust the font size of button */
}

/* Custom CSS for carousel height */
#myCarousel.carousel {
    height: 500px;
    /* Set initial height */
}

/* For smaller screens, adjust height */
@media (max-width: 768px) {
    #myCarousel.carousel {
        height: 300px;
        /* Set height for smaller screens */
    }
}

/* Adjust image size to fill carousel */
#myCarousel.carousel .carousel-inner .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#myCarousel.carousel {
    height: auto;
}

.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.my-5 {
    /* margin-top: 3rem !important; */
    margin-bottom: 5rem !important;
}

.carousel-caption h1 {
    font-size: 2.5rem;
    /* Adjust font size as needed */
    font-weight: 700;
}

.carousel-caption p {
    font-size: 1.5rem;
    /* Adjust font size as needed */
    font-weight: 500;
}

/* Override button color */
.btn-primary-join {
    background-color: #080433;
    border-color: #4739df;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* Override button hover color */
.btn-primary-join:hover {
    background-color: #DAF1F5;
    border-color: #080433;
    color: #080433;
}





/* CSS for service */

.col-lg-3 {
    text-align: center;
    /* Center align content */
    padding: 20px;
    /* Add padding for spacing */
}

h2.fw-normal {
    font-size: 1.5rem;
    /* Adjust the font size */

}

.col-lg-3 {
    text-align: center;
    padding-top: 60px;
}

/* CSS for hover effect */
.service-item {
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: scale(1.05);

    /*background-color: #080433;*/
}

.btn btn-secondary:hover {
    cursor: pointer;

}

/* About */
.about-text {
    font-size: 1.5rem;
    /* Adjust the font size as needed */
    font-weight: 400 !important;
}

/* .........css for help......... */
.helpqu{
    text-align: left;
    font-size: 20px;
}



/* ................................CSS for footer............................ */
/* Footer Social Icons */
footer .nav a {
    color: #080433 !important;
    /* Icon color */
}

/* Footer Social Icons Hover */
footer .nav a:hover {
    color: #2636e8 !important;
    /* Hover icon color */
}

/* Footer Social Icons (Twitter, Instagram, Facebook) */
footer .nav .text-body-secondary {
    color: #FFFFFF !important;
    /* Text color */
    font-weight: 100;
}

.text-white .descrip {
    color: white;
    font-weight: 100;
}

.descrip {
    color: white;
    font-weight: 100;
}



/*..........................................login , register page................................................*/
/* ..........login form............ */

.login-body{
    margin-top: 0rem;
}
#login_form {
    
    
    background-color: rgba(155, 238, 210, 0.4);
    background-blend-mode: darken;
    border-radius: 2px;
    opacity: 0.9; 
    /* margin: 10 10 10 10px; */
    padding-top: 5%;
    padding-bottom:5%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    /* Limiting the width of the form */
    margin-top: 50px;
    margin-bottom: 100px;
   max-width: 500px;
    margin-left: 50px;
    margin-right: auto; /* Centering the form horizontally */
}


.login-h1 {
    font-size: 40px;
    text-align: center;
    color: white; /* Aligning the heading to the center */
}

.form-floating {
    margin-bottom: 15px; /* Adding space between form inputs */
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.login_button  {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #09008b;
    color: white;
}
.login_button:hover{
    cursor: pointer;
    background-color: #2b92c2;
    color: #ffffff;
}
.forgot-password-link {
    display: block; /* Make the link a block element */
    margin-top: 10px; /* Add space between the link and the button */
    color: #ffffff;
    font-size: 17px;
}
.forgot-password-link:hover{
    color: rgb(255, 0, 0);
   
}

.img {
    margin-top: 10px; 
    text-align: center;
    font-size: 30px;
}

.img img {
    margin: 0 5px; /* Add space between social media icons */
}



/* ...............register form................. */

#register_form {
   
    height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    border-radius: 2px;
    opacity: 0.9; 
    /* margin: 10 10 10 10px; */
    padding-top: 5%;
    padding-bottom:5%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    max-width: 500px; /* Limiting the width of the form */
    margin-top: 50px;
    margin-bottom: 100px;
    
    margin-left: 50px;
    margin-right: auto; /* Centering the form horizontally */
}

/* ........... registed user home page ................ */

.button-container1 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:10%;
    top: 50%;
}

.button-container2 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:37.5%;
    top: 50%;
}

.button-container3 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:65%;
    top: 50%;
}

.button-container4 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:10%;
    top: 100%;
}

.button-container5 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:37.5%;
    top: 100%;
}

.button-container6 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:65%;
    top: 100%;
}
  
.button-container1 button, .button-container2 button, .button-container3 button, .button-container4 button, .button-container5 button, .button-container6 button {
   border-radius: 20px;
}

.serbutt {
    background-color: #0b002f;
    color: white;
    font-size: 20px;
    padding-bottom: 10%;
       
}

#bservice{
    border-radius: 20%;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 80%;
}
.button-cont1 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:25%;
    top: 20%;
}

.button-cont2 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    right: 25%;
    top: 20%;
}
.button-cont1 button, .button-cont2 button{
    border-radius: 20px;
}
