/*.......................... header........................... */
/* Logo styling */
.logo {
    max-width: 150px;
    /* Set the maximum width */
    max-height: 70px;
    /* Set the maximum height */
}

.nav-link {
    color: white;
    font-size: 18px;
    /* Adjust the font size as needed */
    margin-right: 25px;
    /* Adjust the value as needed */

}

.nav-link:hover {
    color: #2636e8;
}

.btn-custom {
    color: #080433;
    /* Set text color to white */
    font-size: 16px;
    /* Adjust font size as needed */
    font-weight: 600;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #DAF1F5;
}

.btn-custom:hover {
    background-color: #080433;
}
.border-bottom {
    margin-bottom: 0rem !important;
}

/* ................................CSS for footer............................ */
/* Footer Social Icons */
footer .nav a {
    color: #080433 !important;
    /* Icon color */
}

/* Footer Social Icons Hover */
footer .nav a:hover {
    color: #2636e8 !important;
    /* Hover icon color */
}

/* Footer Social Icons (Twitter, Instagram, Facebook) */
footer .nav .text-body-secondary {
    color: #FFFFFF !important;
    /* Text color */
    font-weight: 100;
}

.text-white .descrip {
    color: white;
    font-weight: 100;
}

.descrip {
    color: white;
    font-weight: 100;
}

/*----------Profile_card---------*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 20px; /*add some padding inside the card*/
  }


.card-body {
    font-weight: 100;
    font-size: 18px;
}


h2{
    text-align: center;
}

.img-fluid{
    border-radius: 10px;
}

.card-title{
    font-size: 23px;
}

.mt-5 {
    margin-top: 3rem !important;
    margin-bottom: 5rem;
}

body {
    background-image: url('image/back_viewprofile.jpg');
}
