/*..........................................login , register page................................................*/
input[type=text],input[type=password],input[type=email]{
    padding: 14px 14px;
    margin: 8px 8px;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
}

select{
    padding: 14px 14px;
    margin: 8px 8px;
    border-radius: 10px;
    width: 110%;
    font-size: 15px;
}

input[type=submit]{
    font-size: 15px;
    color: rgb(2, 2, 22) 255, 255;
    padding: 14px 14px;
    margin: 8px 8px;
    border-radius: 10px;
    width: 50%;
}
    
input[type=submit]:hover {
    background-color: #2618c4;
    color: rgb(255, 255, 255);
}

.form{
    text-align: center;
    font-size: 19px;
    background-color: rgba(2, 0, 68, 0.4); 
    
    padding-top: 5%;
    padding-bottom:5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 20%;
    position: absolute;
      top: 10%;
      left: 10%;
}

.active{
    padding: 5%;
    
}

#butin{
    border-radius: 50%;
}

/* ........... registed user home page ................ */

.button-container1 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:10%;
    top: 50%;
}

.button-container2 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:37.5%;
    top: 50%;
}

.button-container3 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:65%;
    top: 50%;
}

.button-container4 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:10%;
    top: 100%;
}

.button-container5 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:37.5%;
    top: 100%;
}

.button-container6 {
    width: 17%;
    margin: 4% ;
    position:absolute;   
    left:65%;
    top: 100%;
}
  
.button-container1 button, .button-container2 button, .button-container3 button, .button-container4 button, .button-container5 button, .button-container6 button {
   border-radius: 20px;
}

.serbutt {
    background-color: #0b002f;
    color: white;
    font-size: 20px;
    padding-bottom: 10%;
       
}

#bservice{
    border-radius: 20%;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 80%;
}